ADMIN_SECRET=change-me
DATA_PROVIDER=alpaca
ALPACA_API_KEY=your_alpaca_key
ALPACA_API_SECRET=your_alpaca_secret
ALPACA_FEED=iex
APP_TIMEZONE=Australia/Melbourne
TRADINGVIEW_WIDGET_ENABLED=true
ALERTS_RECONCILE_ENABLED=false
ALERTS_MAILBOX_SYNC_URL=
ALERTS_MAILBOX_SYNC_TOKEN=
ALERTS_ENABLE_YFINANCE_FALLBACK=true
IBKR_NEWS_ENABLED=false
IBKR_NEWS_ENDPOINT=
IBKR_NEWS_TOKEN=
